@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold mb-4;
  }
  h2 {
    @apply text-xl font-semibold mb-3;
  }
  h3 {
    @apply text-lg font-medium mb-2;
  }
  button {
    @apply px-3 py-1 rounded-sm text-sm font-medium
        bg-gray-200 text-gray-800
        dark:bg-gray-600 dark:text-gray-100
        hover:bg-gray-200 dark:hover:bg-gray-700
        border border-gray-800 dark:border-gray-100
        transition duration-200 ease-in-out
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500
        dark:focus:ring-gray-400;
  }
}

.grid-buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
}
